timeofday.subflow
[{"id":"230dc1fbe64074c4","type":"subflow","name":"Time Of Day","info":"","category":"","in":[{"x":320,"y":300,"wires":[{"id":"9602340343736fe3"},{"id":"07745b4617b6e84f"}]}],"out":[{"x":2600,"y":540,"wires":[{"id":"1531946e101439f9","port":0},{"id":"38389133d2ee15a1","port":0},{"id":"d2aa4d7157942c0d","port":0},{"id":"7a9dd7e0651352dd","port":0},{"id":"93c83ce7a2b59fcb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"721967f7cca7e84d","type":"api-current-state","z":"230dc1fbe64074c4","name":"Day Start","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.day_start","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.startTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":380,"wires":[["262c74ae62528836"]]},{"id":"5424ab244307c83e","type":"api-current-state","z":"230dc1fbe64074c4","name":"Day End","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.day_end","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.endTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":460,"wires":[["262c74ae62528836"]]},{"id":"262c74ae62528836","type":"time-range-switch","z":"230dc1fbe64074c4","name":"Daytime","lat":"","lon":"","startTime":"09:00","endTime":"17:59","startOffset":"","endOffset":0,"x":1200,"y":420,"wires":[["1531946e101439f9"],["0be4d04894fa069a","13939eb7787b014f"]]},{"id":"0be4d04894fa069a","type":"api-current-state","z":"230dc1fbe64074c4","name":"Evening Start","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.evening_start","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.startTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1480,"y":600,"wires":[["4fb2f4c1d7e70a34"]]},{"id":"4fb2f4c1d7e70a34","type":"time-range-switch","z":"230dc1fbe64074c4","name":"Evening","lat":"","lon":"","startTime":"18:00","endTime":"20:59","startOffset":"","endOffset":0,"x":1680,"y":640,"wires":[["38389133d2ee15a1"],["f7acf572e428aff7","271c2876602b5633"]]},{"id":"13939eb7787b014f","type":"api-current-state","z":"230dc1fbe64074c4","name":"Evening End","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.evening_end","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.endTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1470,"y":680,"wires":[["4fb2f4c1d7e70a34"]]},{"id":"f7acf572e428aff7","type":"api-current-state","z":"230dc1fbe64074c4","name":"Night Start","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.night_start","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.startTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1950,"y":820,"wires":[["a64b3ad629fb7fa3"]]},{"id":"a64b3ad629fb7fa3","type":"time-range-switch","z":"230dc1fbe64074c4","name":"Nighttime","lat":"","lon":"","startTime":"18:00","endTime":"06:59","startOffset":"","endOffset":0,"x":2160,"y":860,"wires":[["d2aa4d7157942c0d"],["7a9dd7e0651352dd"]]},{"id":"271c2876602b5633","type":"api-current-state","z":"230dc1fbe64074c4","name":"Night End","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.night_end","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.endTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1940,"y":900,"wires":[["a64b3ad629fb7fa3"]]},{"id":"1531946e101439f9","type":"change","z":"230dc1fbe64074c4","name":"Day","rules":[{"t":"set","p":"payload","pt":"msg","to":"Day","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":400,"wires":[[]]},{"id":"38389133d2ee15a1","type":"change","z":"230dc1fbe64074c4","name":"Evening","rules":[{"t":"set","p":"payload","pt":"msg","to":"Evening","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":620,"wires":[[]]},{"id":"d2aa4d7157942c0d","type":"change","z":"230dc1fbe64074c4","name":"Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"Night","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":800,"wires":[[]]},{"id":"7a9dd7e0651352dd","type":"change","z":"230dc1fbe64074c4","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unknown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":900,"wires":[[]]},{"id":"2a5112d52a2e6186","type":"comment","z":"230dc1fbe64074c4","name":"Returns \"Morning\", \"Day\", \"Evening\", \"Night\", or \"Unknown\"","info":"","x":550,"y":100,"wires":[]},{"id":"9602340343736fe3","type":"api-current-state","z":"230dc1fbe64074c4","name":"Morning Start","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.morning_start","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.startTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":260,"wires":[["0d790155733c5d33"]]},{"id":"0d790155733c5d33","type":"time-range-switch","z":"230dc1fbe64074c4","name":"Morning","lat":"","lon":"","startTime":"06:00","endTime":"08:59","startOffset":"","endOffset":0,"x":760,"y":300,"wires":[["93c83ce7a2b59fcb"],["721967f7cca7e84d","5424ab244307c83e"]]},{"id":"07745b4617b6e84f","type":"api-current-state","z":"230dc1fbe64074c4","name":"Morning End","server":"6627e35b.01ca1c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.morning_end","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"__config.endTime","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":340,"wires":[["0d790155733c5d33"]]},{"id":"93c83ce7a2b59fcb","type":"change","z":"230dc1fbe64074c4","name":"Morning","rules":[{"t":"set","p":"payload","pt":"msg","to":"Morning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[[]]},{"id":"6627e35b.01ca1c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
